.loader {
  box-sizing: border-box;
  position: fixed;
  top: 45%;
  left: 49%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  z-index: 100;
}
.loader:after,
.loader:before {
  content: '';
  width: 74px;
  height: 74px;
  position: absolute;
  border-radius: 50%;
  background: #435f97;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}
.loader:before {
  transform-origin: 0 50%;
  background: #ec7839;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
